.thank {
  padding-top: 60px;
}
.thank__container {
  display: flex;
  .show,
  .show__option {
    display: none;
  }
  .subcart {
    height: auto;
    padding: 35px 30px 35px;
  }
}

.thank__container-lefth {
  margin-right: 30px;
  border: 1px solid #daddf5;
  border-radius: 16px;
  padding-bottom: 30px !important;
  max-width: 635px !important;
  width: 100%;
  margin-bottom: 139px;
  img {
    margin-left: 35px;
  }
}
.container-lefth-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  button {
    width: 213px;
    height: 56px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-white);
    background: var(--color-button);
    display: flex;
    align-items: center;
    img {
      margin-right: 7px;
      transform: rotate(180deg);
    }
  }
}
.container-lefth-top-texts {
  h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: var(--color-text-blackLight);
    margin-bottom: 10px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--color-texts);
    span {
      color: var(--color-text-blackLight);
    }
  }
}
.lefth-bottom-item {
  display: flex;
}
.container-lefth-bottom {
  width: 100%;
  border: 1px solid #eff0f5;
  box-shadow: 0px 7px 30px rgba(22, 8, 49, 0.05);
  border-radius: 16px;
  padding: 60px;
  & > :not(:last-child) {
    margin-bottom: 18px;
  }
}
.lefth-bottom-item__lefth {
  max-width: 230px;
  width: 100%;
  margin-right: 68px;
}
.lefth-bottom-item__lefth,
.lefth-bottom-item__rigth {
  & :first-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-texts);
    margin-bottom: 0px;
  }
  & :last-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text-blackLight);
    margin-bottom: 0px;
  }
}
.thank__container-rigth {
  max-width: 445px !important;
  width: 100%;
}
@media (max-width: 1130px) {
  .container-lefth-bottom {
    padding: 30px;
  }
  .lefth-bottom-item__lefth {
    margin-right: 0px;
    max-width: unset;
    width: 358px;
  }
}
@media (max-width: 992px) {
  .thank {
    .s__show {
      max-width: 100% !important;
      width: 100%;
      margin: 0px auto;
    }
    .thank__container-rigth {
      display: none;
    }
    .thank__container-lefth {
      width: 100%;
      max-width: 100% !important;
      margin: 38px auto 42px;
    }
  }
  .container-lefth-bottom {
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
  }

  .thank__container {
    flex-direction: column;
    .show,
    .show__option {
      display: flex;
    }
  }
  .lefth-bottom-item__lefth {
    margin-right: 0px;
    max-width: unset;
    min-width: 358px !important;
  }
}

@media (max-width: 744px) {
  .container-lefth-bottom {
    width: 100%;
    max-width: 584px !important;
    margin: 0px auto;
    padding: 10px;
  }
  .lefth-bottom-item__lefth {
    margin-right: 0px;
    max-width: unset;
    min-width: 340px !important;
  }
}

@media (max-width: 620px) {
  .container-lefth-top {
    padding: 40px;
  }
  .lefth-bottom-item__lefth {
    max-width: unset;
    width: 178px !important;
    margin-right: 0px;
  }
}
@media (max-width: 600px) {
  .lefth-bottom-item__lefth {
    max-width: unset;
    width: 100px !important;
    margin-right: -20px;
  }
  .container-lefth-bottom {
    &:nth-child(2) {
      .lefth-bottom-item__lefth {
        p {
          max-width: 150px;
        }
      }
    }
  }
}
@media (max-width: 568px) {
  .lefth-bottom-item {
    flex-direction: column;
    row-gap: 16px;
  }
  .thank__container-lefth {
    img {
      max-width: 303px;
    }
  }
}
