:root {
  --color-header-bg: #050824;
  --color-wrapper-bg: #f5f5f5;
  --color-button: #000034;
  --color-text-blackLight: #000034;
  --color-button-shop: #5a31f4;
  --color-button-paypal: #f6c657;
  --color-button-pay: #000;
  --color-cart: #eff6fe;
  --color-black: #000;
  --color-white: #fff;
  --color-border-transparentItem: #d6d8ee;
  --color-border: #d6d8ea;
  --color-texts: #4b4e68;
  --color-placeholder: #979ab8;
  --color-cart-placeholder: #84849a;
  --color-active: #7782f1;
  --color-error: #f53d6b;
}
